.about {
  min-height:78.2vh;

  img {
    margin: 1rem 0;
    border-radius: 15px;
    max-width: 50rem;
    display: block;
    margin: 3rem auto 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 3rem;
  }

  @media (min-width: $breakpoint-lg) {

  }
}