#error-page {
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    h1 {
        font-size: 2.5rem;
        color: #e74c3c; // Rojo para destacar el error
        margin-bottom: 1rem;
    }
    
    p {
        font-size: 1.2rem;
        color: #333;
        margin: 0.5rem 0;
        
        i {
            font-style: italic;
            color: #999;
        }
    }
    span{
       position: relative;
       bottom: 2px;
       margin-left: 1px;
       text-decoration: underline;
    }
}
