.home {
  min-height: 100vh;
  
  &__filters {
    font-family: $text-font-secondary;
    display: flex;
    margin: 1.3rem 0 0 1.5rem;
    font-weight: 500;
    position: relative;
    z-index: 1;

    .arrow {
      margin-right: 2rem;

      svg {
        margin: 0 0 0.1rem 0.1rem;
      }
    }
  }

  &__greetings {
    padding: 2rem 1rem 1rem 1rem;

    p {
      font-weight: 600;
    }

    h1 {
      margin-top: 1rem;
      font-weight: 800;
    }

    i {
      font-weight: 100;
    }
  }

  &__no-posts {
    margin: 1rem;
  }

  &__posts {
    @media (min-width: $breakpoint-lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    @media (min-width: $breakpoint-xl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}