.sign {
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 7rem;

    &-form {
        margin: 1rem;
        padding: 2rem;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        input {
            display: flex;
            flex-direction: column;
            padding: 4px;
            border-radius: 5px;
            width: 100%;
            margin: 0 auto;
        }

        .sign-form-section:not(:first-of-type) {
            margin-top: 1rem;
        }

        button{
            background-color: #222324;
            margin: 1rem 0;
            padding: .8rem;
            border-radius: 8px;
            color:#ffff;
            font-size: 1rem;
        }
    }
}