* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.5;
    color: #3C3E3F;

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  