.header {
    background-color: $bg-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0;
    z-index: 10;

    &-burguer,
    &-burguer_desktop {
        width: 3rem;
        margin: auto 0;
        font-size: 2rem;
        display: flex;
        justify-content: flex-start;
        margin-left: 15px;

        user-select: none;
        /* Para navegadores modernos */
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
    }

    &-burguer_desktop {
        display: none;

    }

    &-nav,
    &-search {
        background-color: $bg-color;
        position: absolute;
        top: 100%; // Positions the navigation menu and search field directly below the header | Posiciona el menú de navegación y el campo de búsqueda justo debajo del header        left: 0;
        width: 100%;
        padding: 0.5rem 0rem 1rem 0rem;


        font-size: $font-size-nav;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        overflow: hidden;
        pointer-events: none;
        p {
            margin-top: 5px;
            background-color: transparent; 
            transition: background-color 0.2s ease; 
            padding-left: 2rem;

            &:hover {
                background-color: #ffc7b6e0; 
            }
        }
    }

    &-nav {
        z-index: $z-index-hidden;

        user-select: none;

        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */

        &.visible {
            z-index: $z-index-visible-nav;
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }
    }

    &-search {
        border: none;
        outline: none;
        padding: 0.5rem;
        font-size: $font-size-search;
        z-index: $z-index-hidden;
        padding: 1.3rem;
        font-family: "Playfair Display", serif;
        font-weight: 600;
        color: #333;
        line-height: 1.5;

        &.visible {
            z-index: $z-index-visible-search;
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }
    }

    &-logo {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        margin: auto;
        padding: .7rem;
    }

    &-search_icon {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        margin: auto 0;
        margin-right: 15px;
    }
}

// Media Queries
@media (min-width: $breakpoint-lg) {

    /*
    .header {
        &-burguer {
            display: none;
        }

        &-nav {
            opacity: 1;
            position: static;
            transform: translateY(0);
            pointer-events: auto;
            display: flex;
            font-size: 1.5rem;
            margin: auto;

            p {
                margin-right: 1rem;
                font-size: 1.3rem;
              
            }
        }
    }
    */
    .header {
        &-burguer {
            display: none;
        }

        &-burguer_desktop {

            cursor: pointer;
            display: flex;
            flex-direction: row;
            width: 30%;

            user-select: none;

            -webkit-user-select: none;
            /* Safari */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */

            &-arrow {
                position: relative;
                top: .4rem;
                transition: transform 0.3s ease, top 0.3s ease;
                margin-left: .2rem;

                &.rotated {
                    transform: rotate(180deg);
                    top: .1rem;
                }
            }
        }

        &-search_icon {
            cursor: pointer;
        }
    }
}

@media (min-width: $breakpoint-xl) {
    .header {
        padding-left: 7%;
        padding-right: 7%;

        &-search {
            padding-right: 7%;
            padding-left: 7%;
        }

        &-nav {
            p {
                padding-left: 8%;
            }
        }
    }
}