.line-divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: $text-color-secondary; 
    font-weight: bold;
    margin: 1rem 0;
    font-size: 1.2rem;
    
    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 2px solid $border-color;
      margin: 0 1rem;
    }
  }
  