.pagination {
    display: flex;

    justify-content: space-between;
    padding: 20px;

    .active {
        background: black;
        color: #fff;
      
      }
  }
  
  .pagination button {
    padding: 10px;
  }
  
  