# 🌐 Configuración de variables de entorno para el servidor backend
# 
# DB_HOST = localhost     : Dirección del host de la base de datos 
# DB_USER = user    : Usuario de la base de datos 
# DB_PASS = password : Contraseña del usuario de la base de datos 
# DB_NAME = Blog      : Nombre de la base de datos 
# DB_DIALECT = sqlite : Dialecto de la base de datos 
#
# JWT_SECRET = ejemploDeClaveSecreta : Clave secreta para la generación y validación de JWT 🔑
#
# PORT = 3000         : Puerto en el que se ejecuta el servidor 🚪
